@import url('https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,700&family=Montserrat:wght@500;700&display=swap');

:root {
    --dark-cyan: hsl(158, 36%, 37%);
    --cream: hsl(30, 38%, 92%);

    --very-dark-blue: hsl(212, 21%, 14%);
    --dark-grayish-blue: hsl(228, 12%, 48%);
    --white: hsl(0, 0%, 100%);
    font-family: 'Montserrat', sans-serif;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background: var(--cream);
}

.container {
    display: flex;
    flex-direction: column;
    height: 610px;
    width: 90%;
    margin-top: 2rem;
    background: var(--white);
    border-radius: 15px;
}

.container__img {
    width: 100%;
    height: 240px;
}

img {
    width: 100%;
    height: 100%;
    border-radius: 15px 15px 0 0;
}

.container__text-fields {
    margin: 1.4rem;
}
.perfume-text {
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 100;
    color: var(--dark-grayish-blue);
    letter-spacing: 0.5rem;
    margin-bottom: 0.5rem;
}

h1 {
    font-family: 'Fraunces', serif;
    color: var(--very-dark-blue);
    margin-bottom: 0.8rem;
}

.description {
    color: var(--dark-grayish-blue);
    font-size: 14px;
    line-height: 1.4rem;
}

.container__text-fields--pricing {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.main-price {
    font-size: 2rem;
    font-family: 'Fraunces', serif;
    color: var(--dark-cyan);
    margin: 1rem 1rem 1rem 0;
}

.strikethrough-price {
    text-decoration: line-through;
    color: var(--dark-grayish-blue);
    font-size: 13px;
}

.container__button {
    background: var(--dark-cyan);
    /* text-align: center; */
    border-radius: 15px;
    height: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

button {
    background: none;
    border: none;
    color: var(--white);
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    font-weight: 700;
    display: flex;
    align-items: center;
}

.cart-img {
    width: 1rem;
    height: 1rem;
    margin-right: 0.5rem;
}

.attribution {
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    font-size: 0.8rem;
}

.attribution a {
    text-decoration: none;
    color: var(--dark-cyan);
}